@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  padding-left: 200px;
  padding-top: 100px;
}

.left {
  padding: 0px 40px 0px 40px;
  background-color: #1c1938;
  border-radius: 8px 0px 0px 8px;
}

.left > p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.middle > p {
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  max-width: 380px;
  line-height: 1.6;
}

.list-1 {
  display: flex;
  gap: 100px;
  padding-top: 50px;
}

.list-1 > p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  word-spacing: 90px;
}

.list-2 {
  display: flex;
  gap: 77px;
  margin-top: -20px;
}

.list-2 > p {
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  word-spacing: 70px;
  padding-bottom: 50px;
}

.image-color {
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(99, 47, 129);
  background-blend-mode: soft-light;
  width: 100%;
  opacity: 0.8;
  border-radius: 0px 8px 8px 0px;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: black;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 60px 10px 30px 10px;
  }

  .left {
    padding: 0px 21px 0px;
    background-color: #1c1938;
    border-radius: 0px 0px 8px 8px;
  }

  .left > p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 30px;
  }

  .middle > p {
    color: gray;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    max-width: 380px;
    line-height: 1.6;
  }

  .list-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .list-1 > p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    word-spacing: 90px;
  }

  .list-2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: -199px;
  }

  .list-2 > p {
    color: gray;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
  }

  .image-color {
    background-image: url("./images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(99, 47, 129);
    background-blend-mode: soft-light;
    width: 100%;
    height: 238px;
    opacity: 0.8;
    border-radius: 8px 8px 0px 0px;
  }
}
